body {
    font-family:sans-serif;
    background-color: black;
    color: #ddd;
}

/* PERSONALIZACION DEL MENU (NAV) */

/* GENERAL */
.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    line-height: 3rem;
    position: relative;

}
.menu li ul {
    position: absolute;
}
.menu a {
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    font-weight: bold;
    transition: .4s;
}

.menu a:hover {
    background: rgba(0, 0, 0, .5);
}


/* PRIMER NIVEL */
.menu > ul {
    background: #333;
    display: table;
    width: 100%;
}

.menu > ul > li {
    float: left;
}

/* SEGUNDO NIVEL */
.menu li li {
    background: #222;
    max-height: 0;
    transition: all .5s;
    overflow: hidden;
    width: 245px;
}

.menu li:hover li {
    max-height: 500px;
    overflow: visible;
}
.menu > ul > li > ul {
    top: 100%;
}

/* TERCER NIVEL */

.menu ul ul ul {
    left: 100%;
    top: 0;
}

/* TOP */
.losGods {
    background-image:url(../medios/losGods.jpg) ;
    background-position: center top;
}

.logo {
    height: 700px;
    display: flex;
    justify-content: center;
}

.logo-doom {
    width: 450px;
    height: 350px;
}




/* CONTENIDO */
.titulo {
    display: flex;
    justify-content: center;
}
.slayerMark {
    width: 40px;
    height: 60px;
    padding: 15px 0 0 0;
    margin-bottom: 50px;
}

h1{
    font-family: 'Russo One', sans-serif;
    padding: 0 10px 0 10px;
    margin-top: 15px;
}
main a {
    text-decoration: none;
    color:bisque;
}

/* FOOTER */



/* FORMULARIO */
.formulario {
    margin-bottom: 10px;
}

/* CAÑON PESADO */
.cañon {
    width: 500px;
}

/* RIFLE DE PLASMA */
.plasma {
    width: 500px;
}

/* LANZACOHETES */
.lanzacohete {
    width: 500px;
}

/* SUPER ESCOPETA */
.supershotgun {
    width: 500px;
}

/* BALISTA */
.balista {
    width: 500px;
}

/* AMETRALLADORA */
.ametralladora {
    width: 500px;
}